{% extends "datlien/base.html" %}

{% load widget_tweaks %}
{% block 'title' %}
Delivery Agent
{% endblock %}

{% block 'body' %}

<div class="page page-center">
    <div class="container-tight py-4">
      <div class="text-center mb-4">
          <h1>DatLien - Xwrap</h1>
      </div>
      <form class="card card-md" method="POST">
          {% csrf_token %}
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Add Delivery Agent</h2>
            {% if message %}
            <div class="text-center form-label invalid-feedback" style="font-size: medium;">
                <b>{{ message }}</b>
            </div>
            {% endif %}
            {% for field in form %}
            <div class="mb-3">
              <label class="form-label">{{ field.label_tag }}</label>
              {% render_field field class="form-control" %}
            </div>
            {% endfor %}
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Add</button>
            </div>
          </div>
      </form>
      <div class="mb-4">
        <a class="btn btn-success" href="{% url 'porders' %}"> <i class="fa fa-arrow-left"></i>&nbsp; Back </a>
      </div>
    </div>
</div>

{% endblock %}