{% extends "datlien/base.html" %}
{% load widget_tweaks %}

{% block 'header' %}
<header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav flex-row order-md-last">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm" style="background-image: url(../../../static/static/avatars/000m.jpg)"></span>
            <div class="d-none d-xl-block ps-2">
              <div>{{username}}</div>
              <div class="mt-1 small text-muted">{% if superuser %}SuperUser{% else %}Staff{% endif %}</div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}" >
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                </span>
                <span class="nav-link-title">
                  Home
                </span>
              </a>
            </li>
            {% if superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'viewStates' %}">Locations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'viewCentralHubs' %}">Central Hubs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'orders_history' %}">Order History</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'prequest' %}">Pending Requests</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'porders' %}">Pending Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'corders' %}">Completed Orders</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
</header>
{% endblock %}

{% block 'body' %}

<div class="container">
    <div class="col-12 mt-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Received Requests</h3>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap datatable">
            <thead>
              <tr>
                <th>Placed On</th>
                <th>Order Id</th>
                <th>User</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for delivery in received_req %}
                <tr>
                    <td>{{delivery.created_on}}</td>
                    <td>{{delivery.id}}</td>
                    <td>{{delivery.user}}</td>
                    <td>{{delivery.source}}</td>
                    <td>{{delivery.destination}}</td>
                    <td>On its Way to Destination</td>
                    <td><a class="btn btn-success" href="{% url 'receive' delivery.id %}">Accpet</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="col-12 mt-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Out for Delivery Requests</h3>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap datatable">
            <thead>
              <tr>
                <th>Placed On</th>
                <th>Order Id</th>
                <th>User</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for delivery in out_for_delivery_req %}
                <tr>
                    <td>{{delivery.created_on}}</td>
                    <td>{{delivery.id}}</td>
                    <td>{{delivery.user}}</td>
                    <td>{{delivery.source}}</td>
                    <td>{{delivery.destination}}</td>
                    <td>Received</td>
                    <td>
                      <a class="btn btn-success btn-md" href="{% url 'out_for_delivery' delivery.id %}">Assign</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div class="container">
    <div class="col-12 mt-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Delivery Requests</h3>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap datatable">
            <thead>
              <tr>
                <th>Placed On</th>
                <th>Order Id</th>
                <th>User</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                {% for delivery in delivery_req %}
                <tr>
                    <td>{{delivery.created_on}}</td>
                    <td>{{delivery.id}}</td>
                    <td>{{delivery.user}}</td>
                    <td>{{delivery.source}}</td>
                    <td>{{delivery.destination}}</td>
                    <td>Out Of Delivery</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

{% endblock %}